<!--about......................-->
<section class="about section" id="about">
    <h2 class="section__title">About Me</h2>
    <span class="section__subtitle">My Introduction</span>

    <div class="about__container container grid">
        <img src="./images/tat.webp" alt="" srcset="">

        <div class="about__data">
            <p class="about__description">
                Web developer with extensive knowledge and delivering quality work.I Love to explore new technologies
                and
                build scalable applications and I Have a hyper grip on both Front-end as well
                as Back-end <br>
                I also possess the network marketing skills and had an investment on Forever Living company
                <br><br>
                In free hours i do watch animes (One Piece,Naruto,One punch man etc.😂) and spend times in playground😎
                <br>
                For more see my Resume ...🥱
            </p>

            {{!--<div class="about__info">
                <div>
                    <span class="about__info-title">
                    </span><span class="about__info-name">Years <br> experience </span>
                </div>
                <div>
                    <span class="about__info-title">
                    </span><span class="about__info-name">Years <br> experience </span>
                </div>
                <div>
                    <span class="about__info-title">
                    </span><span class="about__info-name">Years <br> experience </span>
                </div>

            </div>--}}
            <div class="about__buttons">
                <a download="" href="assets/pdf/Major Exam COA 2020_211129_183408.pdf" class="button button--flex">
                    Download CV <i class="fas fa-file-download button__icon"></i>
                </a>
            </div>
        </div>
    </div>
</section>
