<section class="contact section" id="contact">
    <h2 class="section__title">Contact Me</h2>
    <span class="section__subtitle">Get in Touch 😉</span>

    <div class="contact__container container grid">
        <dir>
            <div class="contact__information">
                <i class="fas fa-phone-alt contact__icon"></i>

                <div>
                    <h3 class="contact__title">Call Me</h3>
                    <span class="contact__subtitle">+91 9618953735</span>
                </div>
            </div>
            <div class="contact__information">
                <i class="fas fa-envelope contact__icon"></i>

                <div>
                    <h3 class="contact__title">Mail</h3>
                    <span class="contact__subtitle">kadavathtarunnaik@gmail.com</span>
                </div>
            </div>
            <div class="contact__information">
                <i class="fas fa-map-marker-alt contact__icon"></i>

                <div>
                    <h3 class="contact__title">Location</h3>
                    <span class="contact__subtitle">Nirmal Dist. Telangana State, India</span>
                </div>
            </div>
        </dir>
        {{!--action="/contact" method="POST"--}}
        <form action="/contact" method="POST" class="contact__form grid">
            <div class="contact__inputs grid">
                <div class="contact__content">
                    <label for="exampleInputPassword1" class="contact__label">Name</label>
                    <input type="text" class="contact__input" placeholder="Full name" name="name">
                </div>
                <div class="contact__content">
                    <label for="exampleInputPassword1" class="contact__label">Email</label>
                    <input type="email" class="contact__input" placeholder="Enter email" name="email">
                </div>
                <div class="contact__content">
                    <label for="exampleInputPassword1" class="contact__label">Project</label>
                    <input type="text" class="contact__input" placeholder="Enter Project" name="project">
                </div>
                <div class="contact__content">
                    <label for="" class="contact__label">Message</label>
                    <textarea name="" id="" cols="0" rows="7" class="contact__input" placeholder="Messege"></textarea>

                </div>

                <div>
                    <a href="" class="button button--flex">
                        Send Message
                        <i class="fas fa-paper-plane button__icon"></i>
                    </a>
                    {{!--<button type="submit" class="button button--flex button__icon">Submit</button>--}}
                </div>
            </div>
        </form>
    </div>
</section>
