<section class="project section">
    <div class="project__bg">
        <div class="project__container container grid">
            <div class="project__data">
                <h2 class="project__title">You have a new Project</h2>
                <p class="project__description">
                    Join me now if uou have any further ideas about projects 😎. <br>
                    lets explore our ideas
                </p>
                <a href="#contact" class="button button--flex button--white">
                    Contact Me
                    <i class="fas fa-comment nav__icon project_icon button__icon"></i>
                </a>
            </div>

            <img class="project__img" src="./images/w.png" alt="" srcset="">
        </div>
    </div>
</section>
