<section class="portfolio section" id="portfolio">
    <h2 class="section__title">Projects</h2>
    <span class="section__subtitle">Most recent works</span>

    <div class="portfolio__container container swiper mySwiper">
        <div class="swiper-wrapper">
            <!--.................... portfolio1 ............-->
            <div class="portfolio__content grid swiper-slide ">
                <img src="./images/course-1.svg" alt="" srcset="">

                <div class="portfolio__data">
                    <h3 class="portfolio__title">School_port</h3>
                    <p class="portfolio__description">
                        A demo of frontend that shows a quality advertisement on school <br>
                        It includes HTML-CSS-JS have a demo 😇.
                    </p>
                    <a href="https://upbeat-ritchie-16badc.netlify.app/" target="_blank"
                        class="button button--flex button--small portfolio__button">
                        Demo
                        <i class="fas fa-arrow-circle-right button__icon"></i>

                    </a>
                </div>
            </div>
            <!--.................... portfolio2 ............-->
            <div class="portfolio__content grid swiper-slide">
                <img src="./images/blog-3.svg" alt="" srcset="">

                <div class="portfolio__data">
                    <h3 class="portfolio__title">Portfolio Website</h3>
                    <p class="portfolio__description">
                        A demo of frontend that shows a Dummy Portfolio website <br>
                        It includes HTML-CSS-JS have a demo 😇.
                    </p>
                    <a href="https://wonderful-hopper-6781ed.netlify.app/" target="_blank"
                        class="button button--flex button--small portfolio__button">
                        Demo
                        <i class="fas fa-arrow-circle-right button__icon"></i>

                    </a>
                </div>
            </div>
            <!--.................... portfolio3 ............-->
            <div class="portfolio__content grid swiper-slide">
                <img src="./images/about.svg" alt="" srcset="">

                <div class="portfolio__data">
                    <h3 class="portfolio__title">Ecommerse Website</h3>
                    <p class="portfolio__description">
                        Ecommerse website like a clone of sports groceries buying site <br>
                        It includes HTML-CSS-JS have a demo 😇.
                    </p>
                    <a href="https://nervous-minsky-d46e46.netlify.app/" target="_blank"
                        class="button button--flex button--small portfolio__button">
                        Demo
                        <i class="fas fa-arrow-circle-right button__icon"></i>

                    </a>
                </div>
            </div>
            <!--.................... portfolio4 ............-->
            <div class="portfolio__content grid swiper-slide">
                <img src="./images/blog-2.svg" alt="" srcset="">

                <div class="portfolio__data">
                    <h3 class="portfolio__title">Emoji_extracter</h3>
                    <p class="portfolio__description">
                        A demo of frontend that shows Emojis icons That changes every time whenever we hover it <br>
                        It includes HTML-CSS-JS have a demo 😇.
                    </p>
                    <a href="https://elated-yalow-fbd3d7.netlify.app/" target="_blank"
                        class="button button--flex button--small portfolio__button">
                        Demo
                        <i class="fas fa-arrow-circle-right button__icon"></i>

                    </a>
                </div>
            </div>
            <!--.................... portfolio5............-->
            <div class="portfolio__content grid swiper-slide">
                <img src="./images/about-img.svg" alt="" srcset="">

                <div class="portfolio__data">
                    <h3 class="portfolio__title">For More >>></h3>
                    <p class="portfolio__description">
                        OPen The git-hub <i class="fa fa-github"></i> <br>
                        I have more than 20+ repositeries
                    </p>
                    <a href="https://github.com/" target="_blank"
                        class="button button--flex button--small portfolio__button">
                        Demo
                        <i class="fas fa-arrow-circle-right button__icon"></i>

                    </a>
                </div>
            </div>
            <!--.................... portfolio6 ............-->
            {{!--<div class="portfolio__content grid swiper-slide">
                <img src="./images/price-3.svg" alt="" srcset="">

                <div class="portfolio__data">
                    <h3 class="portfolio__title">School_port</h3>
                    <p class="portfolio__description">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur, consequuntur.
                    </p>
                    <a href="#" class="button button--flex button--small portfolio__button">
                        Demo
                        <i class="fas fa-arrow-circle-right button__icon"></i>

                    </a>
                </div>
            </div>--}}
        </div>



        <!--add arrows-->

        <div class="swiper-button-next">
            <i class="fas fa-angle-right swiper-portfolio-icon"></i>
        </div>
        <div class="swiper-button-prev">
            <i class="fas fa-angle-left swiper-portfolio-icon"></i>
        </div>
        <!--<div class="swiper-pagination">

                </div>-->
    </div>
</section>
