<section class="qualification section" id="qualification">
    <h2 class="section__title">Qualification</h2>
    <span class="section__subtitle">My personal journey</span>

    <div class="qualification__container container">
        <div class="qualification__tabs">
            <div class="qualification__button button--flex qualification__active" data-target='#education'>
                <i class="fas fa-graduation-cap qualification__icon"></i> EDUCATION
            </div>
            <div class="qualification__button button--flex qualification__active" data-target="#work">
                <i class="fas fa-trophy qualification__icon"></i> ACHIEVEMENTS
            </div>
        </div>

        <div class="qualification__sections">
            <!--...........qualifications 1 content...............-->
            <div class="qualification__content qualification__active" data-content id="education">

                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Computer Science Engineering (CSE)</h3>
                        <span class="qualification__subtitle">IIITM - Gwalior</span>
                        <div class="qualification__calender">
                            <i class="fas fa-calendar-week"></i> 2020 - 2024
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>
                <!--...........qualifications 2 content...............-->

                <div class="qualification__data">
                    <div></div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">Narayana(IIt)-Academy</h3>
                        <span class="qualification__subtitle">Hyderabad</span>
                        <div class="qualification__calender">
                            <i class="fas fa-calendar-week"></i> 2018- 2020
                        </div>
                    </div>
                </div>
                <!--...........qualifications 3 content...............-->

                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Narayana e-Techno school</h3>
                        <span class="qualification__subtitle">Hyderabady</span>
                        <div class="qualification__calender">
                            <!--<i class="fas fa-calendar-week"></i> -->
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <!--<span class="qualification__line"></span>-->
                    </div>
                </div>
                <!--...........qualifications 4 content...............-->

                <!--<div class="qualification__data">
                            <div></div>

                            <div>-->
                <!--<span class="qualification__rounder"></span>-->
                <!--<span class="qualification__line"></span>-->
                <!--</div>-->

                <!--<div>
                                <h3 class="qualification__title">Master</h3>
                                <span class="qualification__subtitle">IIITM - University</span>
                                <div class="qualification__calender">
                                    <i class="fas fa-calendar-week"></i> 2020 - 2024
                                </div>
                            </div>-->


                <!--</div>-->
            </div>

            <!--...........qualifications 2 content...............-->
            <div class="qualification__content" data-content id="work">

                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title"> CODECHEF </h3>
                        <span class="qualification__subtitle"> competitive contests </span>
                        <div class="qualification__calender">
                            <!--<i class="fas fa-calendar-week"></i> 2020 - 2024-->
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>

                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>
                <!--...........qualifications 2 content...............-->

                <div class="qualification__data">
                    <div></div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">HACKER RANK</h3>
                        <span class="qualification__subtitle"> competitive skills <br> 5 star in CPP </span>
                        <div class="qualification__calender">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>

                        </div>
                    </div>
                </div>
                <!--...........qualifications 3 content...............-->

                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">HACKER RANK</h3>
                        <span class="qualification__subtitle">competitive skills <br> 4 star in C# </span>
                        <div class="qualification__calender">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>
                <!--...........qualifications 4 content...............-->

                <div class="qualification__data">
                    <div></div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <!--<span class="qualification__line"></span>-->
                    </div>

                    <div>
                        <h3 class="qualification__title">POSTMAN STUDENT EXPERT</h3>
                        <span class="qualification__subtitle">Batches</span>
                        <div class="qualification__calender">
                            <i class="fas fa-medal"></i>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
